name: Database CI

on: 
    push: 
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps: 
        - name: Checkout code
          uses: actions/checkout@v5

        - name: Set up Python 3.13 
          uses: actions/setup-python@v4
          with:
            python-version: 3.13

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install -r requirements.txt
            pip install pytest

        - name: Run tests 
          run: |
                pytest --cov --cov-branch --cov-report=xml

        - name: Upload coverage reports to Codecov
          uses: codecov/codecov-action@v5
          with:
            token: ${{ secrets.CODECOV_TOKEN }}